.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@media (min-width: 1280px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
    #breadcrumb0 {
        position: sticky;
        /* padding-top: 31px; */
        float: left;
    }

    #subnavbar1 {
        /* */
    }
    #placeholder {
        /* top: 88px; */
        height: 74px;
    }
}

@media (max-width: 420px) {
    #cart-cta {
        bottom: 88px;
        position: relative;
        left: 50%;
    }
    #dropdown01 {
        bottom: 88px;
        position: relative;
        left: 47%;
    }
    #navbar0 {
        height: 88px;
    }
    #subnavbar0 {
        height: 44px;
    }

    #breadcrumb0 {
        position: sticky;
        /* padding-top: 55px; */
        float: left;
    }
    #subnavbar1 {
        padding-top: 10px;
    }
    #placeholder {
        top: 88px;
        height: 78px;
    }
    #form0 {
        width: 100%;
    }
}